<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body style="margin: 0%">
    <div class="header">
      <h1>Python Blogs</h1>
      <p>A to Z python and coding</p>
      <div class="signin" style="text-align: end">
        <a href="#"> SignIn </a>

        /
        <a href="#"> SignUp </a>

        /
        <a href="#"> LogOut </a>
      </div>
    </div>
    {% block content %}
    {% endblock %}

    <div class="footer">
      <p>Project done during Tinkerhub pyweek</p>
    </div>
  </body>
</html>
