{% extends 'base.html' %} {% block content %}
    
    <div class="row">
      <div class="card">
        <a href="#"> <h3>{{blog.name}}</h3></a>
        
        <a href="#"><p>{{blog.author}}</p></a>
        <p>{{blog.publishing_date}}</p>
      </div>
      <div class="card" style="text-align: justify; padding: 30px;">
        <p>
          {{blog.content}}</p>
      </div>
      
    </div>
    <div class="comments">
      <h2 style="padding: 20px; font-size: 18;">Comments</h2>
      <form class="msger-inputarea" style="padding: 20px; margin: 10px;">
        <input type="text" class="msger-input" placeholder="Enter your message..." width="100%">
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
      <div class="container" style="margin-bottom: 80px;">
       <p>Sarathkrishnan G S :</p>
        <p>Good, detailed article. it is better to add examples</p>
        <span class="time-right">published date</span>
      </div>
    </div>
    
    {% endblock %}
